.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cardDetail{
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top:10px;
}
.cards{
  margin:10px;
}
.App-link {
  color: #09d3ac;
}
.dashboardContainer{
  padding-toP:15;
  margin: auto;
  
  
}

.formcontainer{
  width: 300px;
  padding-top: 80px;
  margin: auto;
}